<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @tag.restaurant_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tag.Tag %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
